.footer {
  height: 10vh;
  z-index: 100;

  &__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
  }

  &__icons {
    display: flex;
    flex-direction: column;
  }
}
