.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  grid-gap: 1.5rem;
  place-items: center;

  &__title {
    font-size: 1.5rem;

    &--item {
      font-size: 1rem;
    }
  }
}
