.header {
  background: $color-grey-cv;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 3000;
  opacity: 0.9;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem auto;
  width: 70%;

  &__text {
    color: $color-orange-cv !important;
    font-family: raleway, sans-serif;
    font-size: 1.5rem;
    padding: 1rem;

    &:hover,
    &:active {
      color: $color-white !important;
    }
    @include respond(phone) {
      padding: 0.2rem;
      justify-content: center;
    }
  }

  @include respond(phone) {
    margin: 0.5rem 0;
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .navbar {
    max-width: 50%;
  }
}

.fixed-nav {
  position: fixed;
}
