.navbar {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem auto;
}

.nav-text {
  color: #380b67;
  font-family: raleway, sans-serif;
}

@media screen and (min-width: 480px) {
  .navbar {
    max-width: 50%;
  }
}
