.heading-primary {
  &--main {
    font-size: 6rem;
    color: $color-orange-cv;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      font-size: 4.5rem;
    }
  }

  &--sub {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.soft-skills {
  margin: 5rem 0 2rem 0;

  &__text {
    font-size: 1.5rem;
  }
}

.projects-text {
  max-width: 80%;
  margin: auto;
  font-size: 1.5rem;
}

.about-sub {
  padding: 1rem;
  font-size: 20px;
  color: $color-primary-dark;
}
