.u-center-text {
  text-align: center;
}

.u-margin-top-bottom {
  margin: 20% 0;
}

.u-clip-path-projects {
  clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0 100%);
}

// .u-clip-path-projects-2 {
//   clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0 75%);
// }
