.fadeUp {
  animation-name: fadeUp;
  animation-delay: 0.5s;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

.background-light {
  background: $color-white !important;
  color: $color-grey-cv !important;
  background-size: 100vw !important;
}

.background-orange {
  background: $color-orange-cv !important;
  color: $color-black !important;
  background-size: cover;
}

.unSkew {
  transform: skewy(5deg);
}

.skew {
  transform: skewy(-5deg);
}
